<div class="row animated fadeIn"> 
<div class="col-md-6">
  <div class="card card-body">
      <h3 class="box-title m-b-0">Datos del Médico: {{ doctor.name }}</h3>
      <p class="text-muted m-b-30 font-13"> ... </p>
      <div class="row">
          <div class="col-sm-12 col-xs-12">
              <form #f="ngForm" ngNativeValidate (ngSubmit)="saveDcotor(f)"> 
                  <div class="form-group">
                      <label>Nombre</label>
                      <input [(ngModel)]="doctor.name" name="name" type="text" class="form-control" placeholder="Nombre del Médico" required>
                  </div>
                  <div class="form-group"> 
                      <label>Hospital</label>
                      <select (change)="changeHospital( $event.target.value )" [(ngModel)]="doctor.hospital" name="hospital" class="form-control" required>
                          <option value="">Seleccionar Hospital</option>
                          <option *ngFor="let hospital of hospitals" [value]="hospital._id">{{ hospital.name }}</option>
                      </select>
                  </div>
                  <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
                  <a routerLink="/doctors" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
              </form>
          </div>
      </div>
  </div>
 </div> 

 <div *ngIf="doctor._id" class="col-md-3 text-center animated fadeIn">
    <div class="card card-body">
        <h4 class="box-title m-b-0">Imágen del Médico</h4>
        <br />
        <img (click)="changeImage()" width="100%" [src]="doctor.img | image:'doctors'" title="Editar Imágen" class="pointer" />
    </div>
  </div>

  <div class="col-md-3 text-center animated fadeIn">
        <div class="card card-body">
                <h4 class="box-title m-b-0">Hospital</h4>
                <hr />
                <img width="100%" [src]="selectedHospital.img | image:'hospitals'" />
                <br />
                <h5>{{ selectedHospital.name }}</h5>
        </div>
  </div>

</div>
